<div id="navbarC">
  <nav class="navbar navbar-expand-lg navbar-light bg-success">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Tripping :) </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active bg-warning text-dark" aria-current="page" href="#" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>

<!-- 
    <div id="navbarC">
      <Navbar bg="success" expand="lg">
        <Container>
          <Navbar.Brand>
            Tripping :) {user.userName ? `Hello ${user.userName}` : ''}
          </Navbar.Brand>
          <Navbar.Toggle aria-controls="basic-navbar-nav" />
          <Navbar.Collapse id="basic-navbar-nav">
            <Nav className="me-auto">
              <Nav.Link
                href="#"
                onClick={() => {
                  user.userName
                    ? interfacesChange(false, false, true)
                    : interfacesChange(true, false, false)
                }}
              >
                Home
              </Nav.Link>
              {user.userName ? (
                <Nav.Link
                  href="#"
                  className="bg-warning text-dark"
                  onClick={() => {
                    logOut()
                  }}
                >
                  Logout
                </Nav.Link>
              ) : (
                <Nav.Link
                  href="#"
                  onClick={() => interfacesChange(false, true, false)}
                >
                  Login
                </Nav.Link>
              )}
              {user.role === 'admin' ? (
                <NavDropdown title="Admin Options" id="basic-nav-dropdown">
                  <NavDropdown.Item
                    href="#action/3.1"
                    onClick={() =>
                      interfacesChange(false, false, false, true, false)
                    }
                  >
                    Add Vacation
                  </NavDropdown.Item>
                  <NavDropdown.Divider />
                  <NavDropdown.Item
                    href="#action/3.2"
                    onClick={() =>
                      interfacesChange(false, false, false, false, true)
                    }
                  >
                    Reports
                  </NavDropdown.Item>
                </NavDropdown>
              ) : (
                ''
              )}
            </Nav>
          </Navbar.Collapse>
        </Container>
      </Navbar>
    </div>
   -->