<div class="card-container container add">
  <div class="card">
    <div class="card-body">
      <form (ngSubmit)="addVac(vacForm)" #vacForm="ngForm">
        <div class="mb-3">
          <label htmlFor="destination" class="form-label">
            Destination
          </label>
          <input type="text" class="form-control" id="destination" aria-describedby="destination" name="destination"
            [(ngModel)]="vacation.destination" ngModel required>
        </div>
        <div class="mb-3">
          <label htmlFor="description" class="form-label">
            Description
          </label>
          <input type="text" class="form-control" id="description" name="desc" [(ngModel)]="vacation.desc" ngModel
            required>
        </div>
        <div class="mb-3">
          <label htmlFor="fromDate" class="form-label">
            From Date
          </label>
          <input type="date" class="form-control" id="fromDate" name="dateStart" [(ngModel)]="vacation.dateStart"
            ngModel required>
        </div>
        <div class="mb-3">
          <label htmlFor="toDate" class="form-label">
            To Date
          </label>
          <input type="date" class="form-control" id="toDate" name="dateEnd" [(ngModel)]="vacation.dateEnd" ngModel
            required>
        </div>
        <div class="mb-3">
          <label htmlFor="price" class="form-label">
            Price $
          </label>
          <input type="number" class="form-control" id="price" name="price" [(ngModel)]="vacation.price" ngModel
            required>
        </div>
        <div class="mb-3">
          <label htmlFor="image" class="form-label">
            Image URL
          </label>
          <input type="url" class="form-control" id="image" name="photo" [(ngModel)]="vacation.photo" ngModel required>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="checkbox" name="checkbox" ngModel required>
          <label class="form-check-label" htmlFor="exampleCheck1">
            Confirm
          </label>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!vacForm.valid">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>