<p>register works!</p>

<!-- <div show={{justifyActive === 'tab2'}}>
    <div class="text-center mb-3"></div>

    <input
      wrapperClass="mb-4 text-white"
      label="First Name"
      id="regFirstName"
      type="text"
      onChange="(e) => setFirstName(e.target.value)"
    />
    <input
      wrapperClass="mb-4 text-white"
      label="Last Name"
      id="regLastName"
      type="text"
      onChange="(e) => setLastName(e.target.value)"
    />
    <input
      wrapperClass="mb-4 text-white"
      label="User Name"
      id="regUserName"
      type="text"
      onChange="(e) => setUsername(e.target.value)"
    />
    <input
      wrapperClass="mb-4 text-white"
      label="Password"
      id="regPassword"
      type="password"
      onChange="(e) => setPassword(e.target.value)"
    />

    <div class="d-flex justify-content-center mb-4 text-white">
      <input
        name="flexCheck"
        id="flexCheckDefault"
        label="I have read and agree to the terms"
        (click)={handleAgree}
        value={checked}
      />
    </div>

    <button class="mb-4 w-100" >
      Sign up
    </button>
  </div> -->